<!DOCTYPE html>
<html>
 <head>
   <title>students api</title>
   
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   
   
 </head>
<body>
<div>

<button class="btn">click me </button> 
</div>
<ul class="info">
	</ul>

   
{% load static %}
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>



</body>
</html>
