<!-- index.html (ch08www project) -->
{% extends "base.html" %}
{% block title %}我有話要說{% endblock %}
{% block content %}

<div class='container'>
 <form action="." method="POST" name="form1"> 
<p>name:  <input type="text" id="qwename"></p>
<p>message:  <input type="text" id="qwemessage"></p>
</form>
<button id =add-order>add</button>

<ul id="qwe"></ul>

<button class="btn">click me </button> 

{% cycle "<div class='row'> <div class='col-md-4'>" "<div class='col-md-4'>" "<div class='col-md-4'>" %}
    <ul class="info">
	</ul>
{% cycle "" "" "</div>"%}    
</div>

{% endblock %}
